<div *ngIf="node.isCategory; else isItem" style="display: inline-block;">
  <button class="btn btn-block" style="background: transparent; max-width:border-box; padding: 0px 5px 5px;">
    <i class="fas fa-folder fa-4x"></i><br><label style="word-break: break-all;">{{node.name}}</label>
  </button>
  <br>
</div>

<ng-template #isItem>
  <span>
    <i class="fas fa-file fa-4x"></i>
  </span>
  <p>{{node.name}}</p>
</ng-template>
