<div class="container clearfix" style="padding-top: 50px;">
  <div class="row">
    <div class="col-lg-3">
      <h3>CATEGORIES</h3>
      <hr>
    </div>
  </div>
</div>
<div class="row">
  <div *ngIf="tree.nodes.length > 0; else emptytree;" class="container border border-light col-lg-8">
    <div class="col-lg-12">
    </div>
    <app-treenode
      *ngFor="let node of tree.nodes"
      [node]="node">
    </app-treenode>
    <br><br>
  </div>
</div>

<ng-template #emptytree>
  <div class="container border border-light col-lg-10">
    <p style="font-family: 'Comic Sans MS'; text-align: center;">There are no categories right now. Please add them through editor tab.</p>
  </div>
</ng-template>
