.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.padded {
  padding-top: 10px;
  padding-left: 25px;
}

.activated {
  background: linear-gradient(to bottom, #96dbff, #1eb5ff);
}
