<div class="container padded">
  <div class="row" *ngIf="node.isCategory; else isItem;" >
    <span *ngIf="!node.isCollapsed; else collapsed;"><a class="btn-sm" (click)="node.toggleCollapsed()"><i class="fas fa-folder"></i></a></span>
    <a *ngIf="!node.isActive; else activated" class="btn-sm btn-light noselect" (click)="toggleActiveNode($event)">{{node.name}}</a>
  </div>
  <div style="padding-left: 15px;" *ngIf="node.isCollapsed">
    <app-treenode *ngFor="let eachNode of node.children" [node]="eachNode">
    </app-treenode>
  </div>
</div>

<ng-template #activated>
  <a class="btn-sm btn-light noselect activated" (click)="toggleActiveNode($event)">{{node.name}}</a>
</ng-template>
<ng-template #collapsed>
  <span><a class="btn-sm" (click)="node.toggleCollapsed()"><i class="fas fa-folder-open"></i></a></span>
</ng-template>
<ng-template #isItem>
  <div class="row">
    <span><a class="btn-sm"><i class="fas fa-book"></i></a></span>
    <a class="btn-sm btn-light noselect" (click)="toggleActiveNode($event)">{{node.name}}</a>
  </div>
</ng-template>

