<div class="container" style="padding-top: 25px">
  <div class="row">
    <div class="col-lg-12 form-group">
      <h3>Editor</h3>
      <div class="row">
        <div class="col-lg-4">
          <hr>
        </div>
      </div>
      <div class="col-lg-10 border border-light" style="height: 275px; overflow-y: auto">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-brand btn" style="background: transparent;" href="#"><span style="padding-right: 2px;"><i class="fas fa-arrow-alt-circle-left fa"></i></span>Back</button>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
            <form class="form-inline float-right">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
        <app-nodesetup [node]="node" *ngFor="let node of treeService.tree.nodes"></app-nodesetup>
      </div>
      <br>
      <div class="col-lg-10 border border-light">
        <label for="nametxt" class="col-form-label">Category Name </label>
        <input type="text" id="nametxt" class="form-control col-lg-5" [(ngModel)]="name" (input)="onTextEdited()">
        <label for="desctxt" class="col-form-label">Category Description </label>
        <input type="text" id="desctxt" class="form-control col-lg-5" [(ngModel)]="desc">
        <label for="selectorType" class="col-form-label">Category Type </label>
        <br>
        <select id="selectorType" class='form-control col-lg-3' required [(ngModel)]='selectedOption'>
          <option class='option' *ngFor='let option of typeOptions' [value]="option">{{option}}</option>
        </select>
        <br><br>
        <div class="div" *ngIf="name">
          <button class="btn btn-primary" type="button" (click)="onAddRootClick()">Add Root</button>
          <br><br>
          <div class="row">
            <div class="col-lg-12" *ngIf="activatedNode">
              <div class="btn-group" role="group" aria-label="Basic example" *ngIf="activatedNode">
                <button class="btn btn-primary" type="button" (click)="onAddClick()">Add</button>
                <button class="btn btn-danger" type="button" (click)="onDelClick()">Delete</button>
                <button class="btn btn-warning" type="button" (click)="onUpdClick()">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

